<div class="container mt-4 p-4">
    <div *ngIf="listUsers && listUsers.length > 0 else loading">
        <h1 class="m-4">LISTA USUARIOS</h1>
        <div class="d-flex flex-row flex-wrap w-100">
            <div *ngFor="let user of listUsers" class="card-container">
                <div class="card border rounded-lg p-4 m-3">
                    <div>
                        <h2 class="my-0">{{user.name}}</h2>
                        <h3>{{user.email}}</h3>
                        <a [routerLink]="['/user/detalle', user.id]" routerLinkActive="active" class="text-primary">Perfil</a> <br>
                        <a [routerLink]="['/post', user.id]" routerLinkActive="active" class="text-primary">Ver Posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="d-flex justify-content-center loading-container">
            <div class="align-self-center">
                <mat-spinner></mat-spinner>
                <p class="mt-4">LOADING POSTS....</p>
            </div>
        </div>
    </ng-template>
</div>