<div class="container mt-5">
    <div *ngIf="usuarios && usuarios.length > 0 && posts && posts.length > 0" class="p-4 bg-white table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cantidad de posts</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of usuarios">
                <tr>
                    <th>{{user.name}}</th>
                    <td>{{user.email}}</td>
                    <td>{{getCantidadPost(user.id)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>