<div class="container p-4">
    <div *ngIf="postsList && postsList.length > 0; else loading">
        <div *ngFor="let post of postsList">
            <mat-card class="example-card my-4 w-75 mx-auto bg-white text-dark  shadow-none  border border-1 p-4">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{post.body}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-raised-button color="primary"></button> -->
                    <a mat-raised-button [routerLink]="['/post/comments', post.id]" routerLinkActive="active">VER COMMNETARIOS</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <ng-template #loading>
        <div class="d-flex justify-content-center loading-container">
            <div class="align-self-center">
                <mat-spinner></mat-spinner>
                <p class="mt-4">LOADING POSTS....</p>
            </div>
        </div>
    </ng-template>
</div>