<div class="container p-md-4">
    <h1>CREAR UN NUEVO POST</h1>
    <hr>
    <div class="w-75 mx-auto">
        <form class="card p-3 p-md-5">
            <h3>CREAR POST ANONIMO</h3>
            <div class="form-group m-2">
                <input type="text" placeholder="titulo" class="form-control">
            </div>
            <div class="form-group m-2">
                <input type="text" placeholder="Escribir su contenido" class="form-control">
            </div>
            <div class="form-group m-2">
                <button type="submit" class="btn btn-primary px-4">Crear post</button>
            </div>
        </form>
    </div>
</div>