<div class="container mt-5 p-md-4 text-center">
    <div class="">
        <form [formGroup]="postForm" (ngSubmit)="crearPost(postForm)" class="card p-3 p-md-5 mx-auto">
            <h1>CREAR UN POST</h1>
            <div class="form-group m-2">
                <input type="text" formControlName="title" placeholder="titulo" class="form-control">
            </div>
            <div class="form-group m-2">
                <input type="text" formControlName="body" placeholder="Escribir su contenido" class="form-control">
            </div>
            <div class="form-group m-2">
                <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary px-4">Crear post</button>
            </div>
        </form>
    </div>
</div>